<!-- Header Begin
<header class="header-sticky header-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="javascript:;">
        <span class="navbar-logo navbar-logo-light">
          <i class="fal fa-lg fa-signal-stream text-light mr-1"></i>
          Exordium
        </span>

        <span class="navbar-logo navbar-logo-dark text-dark">
          <i class="fal fa-lg fa-signal-stream text-dark mr-1"></i>
          Exordium
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" role="button" routerLink="/welcome" routerLinkActive="active">
              <i class="fa fa-fw fa-home mr-1"></i>
              Welcome
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
Header End -->

<!-- Page Content -->
<router-outlet></router-outlet>

<!-- Footer Begin -->
<footer class="bg-dark text-white">
  <div class="container py-5">
    <div class="row justify-content-between align-items-center">
      <!-- 
      <div class="col-md-5 text-center text-md-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/company/mission" routerLinkActive="active">Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/company/contact" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/company/legal" routerLinkActive="active">Legal Information</a>
          </li>
        </ul>
      </div>
      -->
      <div class="col-md-7  text-center text-md-left">
        <pre class="text-light" style="font-size: 13px;">Exordium 2020 - All Rights Reserved.</pre>
      </div>
      <div class="col-md-5 text-center text-md-right">
        <ul class="socials">
          <li><a href="https://github.com/exordium-dev" target="new" class="fab fa-github fs-20"></a></li>
          <li><a href="https://www.facebook.com/exordium.dev" target="new" class="fab fa-facebook fs-20"></a></li>
          <li><a href="https://instagram.com/exordium.dev" target="new" class="fab fa-instagram fs-20"></a></li>
          <li><a href="https://discord.exordium.dev" target="new" class="fab fa-discord fs-20"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->