<div class="viewport">
    <div class="image opacity-40 image-overlay jarallax" style="background-image:url('assets/img/backgrounds/nature0.jpg')"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-lg-6 col-xl-4 text-white">
                <h1 class="display-4 weight-700">EXORDIUM</h1>
                <p>
                    Exordium is currently working on a bunch of different projects, 
                    You can keep up to date with progress by watching our 
                    <a href="https://github.com/exordium-dev" target="new" class="link">
                        <i class="fab fa-github"></i> 
                        github
                    </a>.
                </p>
                <p>
                    This website is dedicated to the teams development, 
                    but if you meant to go to our virtual private networking website, 
                    here's a 
                    <a href="https://exordium.org">
                        <i class="fa fa-link"></i> 
                        quick link to exordium vpn
                    </a>.
                </p>
            </div>
        </div>
    </div>
</div>