@charset 'UTF-8';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Bootstrap & Variables
@import "bootstrap/functions";
@import "withtheland/variables";
@import "withtheland/variables-custom";
@import "bootstrap/bootstrap";

// Components
@import "withtheland/layout/_layout";
@import "withtheland/components/_components";

// Plugins
@import "plugins/fontawesome";

// Overwrites
.navbar {
    .navbar-logo {
        line-height: 2rem !important;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .nav-link {
        display: inline-flex;
    
        i {
            line-height: 1.5 !important;
        }
        span {
            margin-left: 10px;
        }
    }
}

.opacity-40 {
    opacity: .40;
}
.viewport {
    background-color: #312e3d;
}